:root {
  box-sizing: border-box;
  background-color: lightgreen;
  font-family: "Comic Sans MS";
}

html,
body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form,
img {
  margin: 1rem;
}

header,
main,
footer {
  background-color: darkolivegreen;
  color: lightgreen;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.5rem;
  object-fit: cover;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.images > div {
  display: inherit;
  flex-direction: column;
  align-items: center;
  background-color: rgb(69, 166, 69);
  border-color: rgb(0, 223, 0);
  border-width: 0.5rem;
  border-style: outset;
  padding: 1rem;
  margin: 0.25rem;
}
